<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1"/>
  <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="manifest" href="/app.webmanifest">
  <script src="/app.js" defer></script>
  {{ block "head" . }}{{ end }}
</head>

<body class="pd-0 mg-0 of-hidden">
  {{ block "header" . }}{{ partial "header.html" . }}{{ end }}
  <main aria-role="main">
    {{ block "main" . }}{{ end }}
  </main>
  {{ block "footer" . }}{{ end }}
  {{ block "scripts" . }}{{ end }}
</body>

</html>