<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="public/style.css">
  <title>{{ title }}</title>
</head>
<body>
  <div class="app">
    <ul>
    {{#each content}}
      <li><a href="/{{ @key }}">{{ this.title }}</a> - <span>{{ this.description }}</span></li>
    {{/each}}
    </ul>
  </div>
</body>
</html>