<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ content.title }}</title>
  <style>
    iframe {
      border-style: solid;
      border-width: 1px;
      border-color: #333333;
    }
  </style>
</head>
<body>
  <h3>{{ content.description }}</h3>
  <iframe src="/wasm/{{ page }}" width="800" height="600" allow="autoplay"></iframe>
</body>
</html>