<script src="/js/wasm_exec.js"></script>
<script>
  if (!WebAssembly.instantiateStreaming) { // polyfill
    WebAssembly.instantiateStreaming = async (resp, importObject) => {
      const source = await (await resp).arrayBuffer()
      return await WebAssembly.instantiate(source, importObject)
    }
  }

  const go = new Go()
  WebAssembly.instantiateStreaming(fetch('/wasm/{{ .Params.wasmname }}.wasm'), go.importObject)
    .then((result) => {
      if (typeof callback === 'function') {
        callback()
      }
      go.run(result.instance)
    }).catch((err) => {
      console.error(err)
    })
</script>